body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #707e89;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    margin: 1.3rem auto;
}

#header {
    font-size: 3rem;
    font-weight: 600;
    color: #f5f5f5;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 30px 12px;
    border: 10px solid #f5f5f5;
    background-color:lightgray
}

#inner div {
    margin-bottom: 18px;
}

#score {
    display: flex;
}

.bold {
    font-weight: 600;
}

button {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 4px 24px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#score div {
    margin: 0 20px;
    padding: 12px 24px;
    width: 100px;
    background-color: #f5f5f5;
    text-align: center;
    border: 3px solid #808080;
}

#game {
    margin: 30px;
    color: #f5f5f5;
    font-size: 1.8rem;
    text-transform: uppercase;
}

#newGame {
    padding: 16px 24px;
}